.gallery-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.gallery-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 12px;
}

.gallery-card:hover {
    background-color: #d9d9d9;
}

.gallery-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.gallery-name {
    margin-top: 10px;
    text-transform: capitalize;
    color: #333;
    font-weight: 600;
}

/* type buttons */
.type-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
    justify-content: center;
    margin-bottom: 20px;
    width: 90%;
    max-width: 1000px;
}

.type-button {
    padding: 6px 12px;
    border: 1px solid #888;
    border-radius: 6px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
}

.type-button:hover {
    background-color: #ddd;
}

/* active button */
.type-button.active {
    background-color: #00bcd4;
    color: white;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}

.loading-ball {
    animation: spin 2s linear infinite;
    width: 100px;
}

/* reuse spinning animation from default react logo */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}