/* main container */
.listview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    display: block;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px 12px;
    min-width: 600px;
    max-width: 800px;
    width: 50%;
    font-size: 17px;
}

/* list items */
.pokemonlist-box {
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-transform: capitalize;
    margin: 10px auto;
    width: 600px;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.pokemon-list-item {
    list-style-type: none
}

.pokemonlist-box:hover {
    background-color: #d9d9d9;
}

.pokemon-link {
    text-decoration: none;
    color: black;
}

/* sort button */
.sort-button {
    padding: 5px 15px;
    color: black;
    background-color: aqua;
    margin-left: 40px;
    border-radius: 3px;
    border: 1.5px solid #868686;
}

.sort-button:hover {
    background-color: #d9d9d9;
}