/* test styling for search bar */
.search-input {
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px 12px;
    width: 80%;
    font-size: 24px;
}

.pokemon-list-item {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.pokemon-link {
    text-decoration: none;
}